body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1e23;
}

.underline-menu {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  list-style-type: none;

  &:hover {
    li:not(:hover) a {
      opacity: 0.2;
    }
  }

  li {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #3498db;
      transform: scaleX(0);
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); // ease-out-quartic
    }

    &:hover,
    &.active {
      &::after {
        transform: scaleX(1);
      }
    }

    a {
      position: relative;
      display: flex;
      padding: 30px 25px 30px 25px;
      line-height: 1;
      text-decoration: none;
      color: white;
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
