body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

#type {
  color: white;
  border-right: 1px solid currentColor;
  animation: blink 1s steps(1) infinite;
}

[pause] {
  animation: none !important;
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}