@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

* {
  cursor: none;
}

// Header Underline https://codepen.io/alphardex/pen/JjoqbNP
header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.underline {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  list-style-type: none;

  &:hover {
    li:not(:hover) a {
      opacity: 0.2;
    }
  }

  li {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #3498db;
      transform: scaleX(0);
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); // ease-out-quartic
    }

    &:hover,
    &.active {
      &::after {
        transform: scaleX(1);
      }
    }

    a {
      position: relative;
      display: flex;
      padding: 30px 25px 30px 25px;
      text-decoration: none;
      color: white;
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

// Button Collection https://codepen.io/alphardex/pen/VwwVLdM
.btn {
  --hue: 204;
  position: relative;
  padding: 18px 25px;
  margin-top: 40px;
  min-width: 160px;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  background-color: hsl(var(--hue), 70%, 53%);
  border: 1px solid hsl(var(--hue), 70%, 53%);
  outline: transparent;
  overflow: hidden;
  cursor: none;
  user-select: none;
  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    background: hsl(var(--hue), 70%, 43%);
  }

  &-ghost {
    color: hsl(var(--hue), 70%, 53%);
    background-color: transparent;
    border-color: hsl(var(--hue), 70%, 53%);

    &:hover {
      color: white;
      background: hsl(var(--hue), 70%, 53%);
    }
  }

  &-through {
    transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1); // ease-in-out-quartic;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: hsl(var(--hue), 70%, 53%);
      transform: scaleX(0);
      transform-origin: right;
      mix-blend-mode: color-dodge;
      will-change: transform;
      transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover {
      color: white;
      background: transparent;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

// Ken Burns Effect (Pure CSS) https://codepen.io/alphardex/pen/wvBovww
.ken-burns-slideshow {
  $total-slides: 4;
  $interval: 6s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style-type: none;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.2);
    animation: kenburns $total-slides * $interval linear infinite;

    @for $i from 1 through $total-slides {
      &:nth-child(#{$i}) {
        animation-delay: $interval * ($i - 1);
      }
    }
  }
}

#slide1 {
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)
    ),
    url("https://images.unsplash.com/photo-1578879279270-f1a166ab29f8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
}

#slide2 {
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)
    ),
    url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
}
#slide3 {
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)
    ),
    url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
}
#slide4 {
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)
    ),
    url("https://images.unsplash.com/photo-1462396240927-52058a6a84ec?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
}

@keyframes kenburns {
  10% {
    opacity: 1;
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  40% {
    opacity: 0;
    transform: scale(1);
  }
}

// Cursor Follow & Hover Effect https://codepen.io/alphardex/pen/jOEgYjr
.cursor,
.cursor-border {
  position: fixed; // when scroll, it's fixed and won't move.
  top: 0;
  left: 0;
  z-index: 9999;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  will-change: transform;
  transition: 0.3s;
}

.cursor {
  background: #3498db;
}

.cursor-border {
  padding: 2rem;
  border: 0.1rem solid #3498db;

  &.on-focus {
    padding: 0.5rem;
    background: hsla(204, 70%, 53%, 0.5);
    border-color: transparent;
  }
}

// Gleaming Heading https://codepen.io/alphardex/pen/rNBrExx
.gleaming {
  span {
    opacity: 0;
    filter: blur(10px);
    animation: fadeIn 2s alternate infinite;
  }
}

@keyframes fadeIn {
  50%,
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

// Staggered Rise In Text https://codepen.io/alphardex/pen/qBEmGbw
.staggered-rise-in {
  position: relative;
  display: flex;
  white-space: pre;
  overflow: hidden;

  span {
    transform: translateY(100%);
  }

  &.active {
    span {
      animation: rise-in 1s forwards;
    }
  }
}

@keyframes rise-in {
  to {
    transform: translateY(-12%);
  }
}

// Header With Slide Bar https://codepen.io/alphardex/pen/jOEOEzZ
.slide-bar {
  position: relative;
  color: transparent;

  &.active {
    animation: fill-text-white 1.2s 0.8s forwards;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #35b9f1;
      transform: scaleX(0);
      transform-origin: left;
      animation: slide-in-out 1.2s 0.6s cubic-bezier(0.75, 0, 0, 1) forwards;
    }
  }
}

@keyframes slide-in-out {
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes fill-text-white {
  to {
    color: white;
  }
}

// Fade Up
p {
  opacity: 0;
  transform: translateY(20%);

  &.active {
    animation: fade-up 0.6s forwards;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: 0.6s + 0.1s * $i;
    }
  }
}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Basic Layout
main {
  color: white;
  scroll-behavior: smooth;

  section {
    h1,
    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    h1 {
      margin-bottom: 8px;
      font-size: 46px;
      text-transform: uppercase;
    }

    p {
      font-size: 24px;
      font-weight: lighter;
    }
  }

  [id="about"] {
    display: grid;
    justify-items: center;
    gap: 40px;
    padding: 48px 0;
    color: white;
    background-image: linear-gradient(
        rgba(16, 16, 16, 0.8),
        rgba(16, 16, 16, 0.8)
      ),
      url("https://i.loli.net/2020/02/04/LUGKzHqecyNE14V.jpg");
    background-position: center;
    background-size: cover;

    .titles {
      display: grid;
      justify-items: center;
      gap: 20px;
    }

    .description {
      display: grid;
      gap: 24px;
      width: 640px;
    }
  }
}
