body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eceffc;
}

.masonry {
  --block-color: #434a54;
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

  max-width: 960px;
  columns: 4;
  column-gap: 24px;

  &__item {
    position: relative;
    margin-bottom: 16px;
  }

  .block-reveal {
    overflow: hidden;

    img {
      transform: scale(0);
      animation: scale-in 0.9s calc(0.4s + 0.1s * var(--i))
        var(--ease-out-cubic) forwards;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: var(--block-color);
      opacity: 0;
      transform: translateX(100%);
      animation: slide-left 0.8s calc(0.1s * var(--i)) var(--ease-out-cubic)
        forwards;
    }
  }
}

@keyframes slide-left {
  // use this trick to fix ios bug.
  0.001% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

// https://css-tricks.com/making-animations-wait/
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

.js-loading .loading {
  * {
    animation-play-state: running !important;
  }
}

.loading {
  --loading-width: 45px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: var(--loading-width);
  height: var(--loading-width);
  z-index: 9999;
  transform: rotate(75deg);
  transition: 0.6s;

  .bar {
    position: absolute;
    animation: 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;

    &:nth-child(1) {
      bottom: calc(var(--loading-width) / 3);
      width: calc(var(--loading-width) / 3);
      height: 100%;
      background: #0984e3;
      transform: scaleY(0);
      transform-origin: bottom;
      animation-name: slide-bottom-top;
    }

    &:nth-child(2) {
      left: calc(var(--loading-width) / 3);
      width: 100%;
      height: calc(var(--loading-width) / 3);
      background: #d63031;
      transform: scaleX(0);
      transform-origin: left;
      animation-name: slide-left-right;
    }

    &:nth-child(3) {
      top: calc(var(--loading-width) / 3);
      right: 0;
      width: calc(var(--loading-width) / 3);
      height: 100%;
      background: #fdcb6e;
      transform: scaleY(0);
      transform-origin: top;
      animation-name: slide-top-bottom;
    }

    &:nth-child(4) {
      right: calc(var(--loading-width) / 3);
      bottom: 0;
      width: 100%;
      height: calc(var(--loading-width) / 3);
      background: #00b894;
      transform: scaleX(0);
      transform-origin: right;
      animation-name: slide-right-left;
    }
  }
}

@each $start, $end, $transform in (bottom, top, scaleY(1)),
  (left, right, scaleX(1)), (top, bottom, scaleY(1)), (right, left, scaleX(1))
{
  @keyframes slide-#{$start}-#{$end} {
    50% {
      transform: #{$transform};
      transform-origin: #{$start};
    }

    50.1% {
      transform-origin: #{$end};
    }

    to {
      transform-origin: #{$end};
    }
  }
}
