@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.gleaming {
  color: #66ccff;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  text-transform: uppercase;

  span {
    opacity: 0;
    filter: blur(10px);
    animation: fadeIn 2s alternate infinite;
  }
}

@keyframes fadeIn {
  50%,
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
