$bg-color: hsl(237, 85%, 13%);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $bg-color;
}

ul {
  display: flex;
  list-style-type: none;

  li {
    margin: 3.6em;
    width: 2.4em;
    height: 2.4em;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $bg-color;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: -25%;
        background: white;
        border-radius: 50%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
      }

      &:hover::before {
        box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white,
          0 0 0 20px hsla(255, 255, 255, 0.05),
          0 0 0 40px hsla(255, 255, 255, 0.05),
          0 0 0 60px hsla(255, 255, 255, 0.05),
          0 0 0 80px hsla(255, 255, 255, 0.05),
          0 0 0 100px hsla(255, 255, 255, 0.05);
      }
    }
  }
}
