@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
  --primary-color: hsl(171, 100%, 41%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #222;
}

.btn {
  position: relative;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 13%);
  text-decoration: none;
  background-color: white;
  border: 1px solid hsl(0, 0, 86%);
  border-radius: 3px;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;

  &:hover {
    border-color: hsl(0, 0%, 71%);
  }

  &-primary {
    color: white;
    background-color: var(--primary-color);
    border-color: transparent;

    &:hover {
      background-color: hsl(171, 100%, 38%);
      border-color: transparent;
    }
  }

  &-ghost {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
  }

  &-icon {
    position: relative;
    margin-left: 8px;

    i {
      position: absolute;
      top: 10%;
      left: 40%;
      transform: translate(-16%, 400%);
      transition: 0.2s;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
    }

    &:hover {
      i {
        transform: translate(-16%, 42%);
      }

      span {
        transform: translateY(-400%);
      }
    }
  }

  &-pulse {
    &:hover {
      box-shadow: 0 0 0 1em transparent;
      animation: pulse 1s;
    }
  }

  &-fill {
    &:hover {
      color: white;
      box-shadow: inset 0 0 0 2em var(--primary-color);
    }
  }

  &-hand {
    overflow: visible;

    &::before {
      position: absolute;
      content: "👇";
      top: -68px;
      right: 0;
      font-size: 60px;
      transform: scaleX(-1);
      animation: up-down 1s infinite;
    }
  }

  &-jittery {
    animation: jittery 4s infinite;
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes up-down {
  50% {
    transform: translateY(-20px) scaleX(-1);
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--primary-color);
  }
}