$circle-d: 8em;
$circle-r: $circle-d / 2;
$circle-color: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #222;
}

.container {
  height: $circle-d;
  width: $circle-d;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}

.circle {
  position: absolute;
  width: $circle-d;
  height: $circle-d;
  border-radius: 50%;
  opacity: 0.75;
  background: $circle-color;
  mix-blend-mode: screen;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transform: rotate($i * 60deg) translate($circle-r);
      animation: move 4s ease alternate infinite;
    }
  }
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.2) rotate(0.5turn);
  }
}
