body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1a1e23;
}

.timeline {
  position: relative;
  display: grid;
  gap: 40px;
  padding: 0;
  margin: 0;
  max-width: 600px;
  font-size: 0.75rem;
  line-height: 1;
  color: white;
  list-style-type: none;
  clip-path: inset(0 0 100% 0);
  animation: expand 5s forwards linear;

  .timeline__line {
    position: absolute;
    top: 0;
    left: 6px;
    width: 4px;
    height: 100%;
    background: white;
  }

  .timeline__item {
    .info {
      display: grid;
      grid-template-columns: repeat(3, auto) 1fr;
      align-items: center;
      gap: 0.3rem;

      h4 {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #3498db;
      }

      .dot {
        position: relative;
        width: 16px;
        height: 16px;
        background: #1a1e23;
        border-radius: 50%;

        &::before {
          position: absolute;
          content: "";
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          background: #1a1e23;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 8px;
          height: 8px;
          border: 4px solid white;
          border-radius: inherit;
        }
      }

      .time {
        margin-right: 8px;
      }
    }

    .content {
      margin: 1rem 0 0 3.9rem;
      line-height: 1.5;
    }
  }
}

@keyframes expand {
  to {
    clip-path: inset(0 0 0 0);
  }
}
