body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--grey-color);
}

:root {
  --grey-color: #454344;
  --gold-color: #f49904;
  --red-color: #732f2f;
  --silver-color: #b3b3b3;
  --bar-1-duration: 2s;
  --bar-2-delay: calc(var(--bar-1-duration) + 0.3s);
}

.w-half {
  width: 50%;
}

.w-quarter-3 {
  width: 75%;
}

.bar-1 {
  position: absolute;
  display: flex;
  align-items: center;
  animation: rotate-right-out 0.3s var(--bar-1-duration) both;

  .arrow {
    width: 2rem;
    height: 3rem;
    background: var(--gold-color);

    &.left {
      clip-path: polygon(100% 0, 100% 20%, 40% 50%, 100% 80%, 100% 100%, 0 50%);
      animation: slide-left-in 1s var(--ease-out-quart) both;
    }

    &.right {
      clip-path: polygon(0 20%, 0 0, 100% 50%, 0 100%, 0 80%, 60% 50%);
      animation: slide-right-in 1s var(--ease-out-quart) both;
    }
  }

  .lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > {
      * ~ * {
        margin-top: 0.5rem;
      }
    }

    .line {
      height: 1px;
      background: var(--gold-color);
      animation: scale-x-in 0.8s var(--ease-out-quart) both;
    }
  }

  .block {
    padding: 0.75rem 3rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: white;
    background: var(--red-color);
    border: 1px solid var(--gold-color);
    animation: scale-x-in 1.2s 0.15s var(--ease-out-quart) both;
  }
}

.bar-2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate-left-in 0.3s var(--bar-1-duration) both;

  .clips {
    display: flex;

    .clip {
      width: 4rem;
      height: 3rem;
      background: white;

      &:first-child {
        width: 2rem;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
      }

      &:not(:first-child):not(:last-child) {
        clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
      }

      &:last-child {
        width: 2rem;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }

      &:nth-child(odd) {
        animation: slide-right-top-in 0.8s var(--ease-out-quart) both;
      }

      &:nth-child(even) {
        animation: slide-left-bottom-in 0.8s var(--ease-out-quart) both;
      }
    }
  }

  .arrows {
    position: absolute;
    width: 2rem;
    height: 2rem;

    .arrow {
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: var(--silver-color);

      &.top {
        top: -2.5rem;
        clip-path: polygon(100% 0, 50% 70%, 0 0);
        animation: slide-bottom-in 0.8s var(--bar-2-delay) var(--ease-out-quart) both;
      }

      &.right {
        right: -11rem;
        clip-path: polygon(30% 50%, 100% 100%, 100% 0);
        animation: slide-left-in-2 0.8s var(--bar-2-delay) var(--ease-out-quart) both;
      }

      &.bottom {
        bottom: -2.5rem;
        clip-path: polygon(100% 100%, 50% 30%, 0 100%);
        animation: slide-top-in 0.8s var(--bar-2-delay) var(--ease-out-quart) both;
      }

      &.left {
        left: -11rem;
        clip-path: polygon(70% 50%, 0 100%, 0 0);
        animation: slide-right-in-2 0.8s var(--bar-2-delay) var(--ease-out-quart) both;
      }
    }
  }

  .block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: white;
    background: var(--silver-color);
    animation: scale-x-in 1.2s calc(var(--bar-2-delay) + 0.6s) var(--ease-out-quart) both;
  }

  .lines {
    position: absolute;
    width: 100%;
    height: 100%;

    .line {
      position: absolute;
      width: 45%;
      height: 1px;
      background: white;

      &.left-top {
        top: -0.5rem;
        left: 0;
        transform-origin: right;
        animation: scale-x-in 0.8s calc(var(--bar-2-delay) + 0.8s) var(--ease-out-quart) both;
      }

      &.right-top {
        top: -0.5rem;
        right: 0;
        transform-origin: left;
        animation: scale-x-in 0.8s calc(var(--bar-2-delay) + 0.8s) var(--ease-out-quart) both;
      }

      &.left-bottom {
        bottom: -0.5rem;
        left: 0;
        transform-origin: right;
        animation: scale-x-in 0.8s calc(var(--bar-2-delay) + 0.8s) var(--ease-out-quart) both;
      }

      &.right-bottom {
        bottom: -0.5rem;
        right: 0;
        transform-origin: left;
        animation: scale-x-in 0.8s calc(var(--bar-2-delay) + 0.8s) var(--ease-out-quart) both;
      }
    }
  }
}

.scale-in-bounce {
  opacity: 0;
  animation: scale-in-bounce 0.2s both;
  animation-delay: calc(var(--basic-delay) + 0.05s * var(--i));
}

@keyframes slide-left-in {
  from {
    transform: translateX(1000%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right-in {
  from {
    transform: translateX(-1000%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scale-x-in {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes scale-in-bounce {
  0% {
    opacity: 0;
    transform: scale(2.5);
  }

  40% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate-right-out {
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotate-left-in {
  from {
    transform: rotate(-45deg);
    opacity: 0;
  }
}

@keyframes slide-right-top-in {
  from {
    transform: translate(50%, -100%);
    opacity: 0.5;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-left-bottom-in {
  from {
    transform: translate(-50%, 100%);
    opacity: 0.5;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-bottom-in {
  from {
    transform: translateY(300%);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top-in {
  from {
    transform: translateY(-300%);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-in-2 {
  from {
    transform: translateX(-1150%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right-in-2 {
  from {
    transform: translateX(1150%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
