@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  cursor: none;
}

.cursor,
.cursor-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: color-dodge;
  transition: 0.3s;
}

.cursor {
  background: white;
}

.cursor-border {
  padding: 2rem;
  border: 0.1rem solid white;

  &.on-focus {
    padding: 0.5rem;
    background: rgba(255,255,255,0.5);
    border-color: transparent;
  }
}

.btn {
  --hue: 190;
  position: relative;
  padding: 1rem 3rem;
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  background-color: hsl(var(--hue), 100%, 41%);
  border: 1px solid hsl(var(--hue), 100%, 41%);
  border-radius: 3px;
  outline: transparent;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    background: hsl(var(--hue), 100%, 31%);
  }

  &-primary {
    --hue: 171;
  }

  &-shock {
    background: transparent;
    border-color: transparent;
    overflow: visible;

    &:hover {
      background: transparent;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: inherit;
      border-radius: inherit;
      transition: 0.3s;
    }

    &::before {
      z-index: -1;
      background: hsl(var(--hue), 100%, 41%);
    }

    &::after {
      z-index: -2;
      background: transparent;
      border-color: hsl(var(--hue), 100%, 41%);
      transform: scale(0.5);
    }

    &:hover {
      color: hsl(var(--hue), 100%, 41%);

      &::before {
        opacity: 0;
        transform: scale(1.2);
      }

      &::after {
        transform: scale(1);
      }
    }
  }
}
