@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #30cfd0, #330867, #ff0844, #ffb199)
    no-repeat 50% 50% / 400% 400%;
  animation: gradBG 10s ease infinite;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-family: "Lato";
}

@keyframes gradBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
