body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: white;
}

legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}

.form-group {
  margin: 0.5em;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  & + label {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid darken(#ecf0f1, 25%);
      margin-right: 10px;
      background: #ecf0f1;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .tick {
      position: absolute;
      stroke: white;
      stroke-width: 3px;
      stroke-dasharray: 19px;
      stroke-dashoffset: 19px;
      transition: 0.2s 0.1s ease;
      cursor: pointer;
    }
  }
  &:checked {
    & + label {
      &::before {
        background: #3498db;
        animation: pulse 1s;
        box-shadow: 0 0 0 8px rgba(#3498db, 0);
      }
      .tick {
        stroke-dashoffset: 0;
      }
    }
  }
  &:focus {
    & + label {
      &::before {
        border-color: #3498db;
      }
    }
  }
  &:disabled {
    & + label {
      &::before {
        background: darken(#ecf0f1, 25%);
      }
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 #3498db;
  }
}
