@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8ebfb;
}

.dropdown {
  position: relative;
  font-family: Lato, sans-serif;

  .dropdown-toggle {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    transition: 0.5s;

    // http://apps.eky.hk/css-triangle-generator
    &::after {
      display: inline-flex;
      vertical-align: middle;
      margin-left: 10px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 6px;
      border-color: #000000 transparent transparent transparent;
      transition: 0.5s;
    }
  }

  .dropdown-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: top;
    transition: 0.5s;

    li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      color: white;
      background: #3498db;
      transition: 0.5s;

      &:hover {
        background: #2980b9;
      }
    }

    li:not(:last-child) a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &:hover {
    .dropdown-toggle {
      color: #3498db;

      &::after {
        border-top-color: #3498db;
        transform: scaleY(-1);
      }
    }

    .dropdown-list {
      transform: rotate(0);
    }
  }
}
