body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #b3e5fc;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;

  .direction1 {
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
    width: 10em;
    height: 10em;
    display: flex;
    flex-wrap: wrap;

    .square {
      width: 25%;
      height: 25%;
      background: #ff5252;
      transform: scale(0);
      animation: scale0-1 0.5s cubic-bezier(0.7, 0, 0.07, 1) forwards;

      // stagger from left-bottom to right-top
      // order: 13 - 9,14 - 5,10,15 - 1,6,11,16 - 2,7,12 - 3,8 - 4
      &:nth-child(13) {
        animation-delay: 0s;
      }

      &:nth-child(9),
      &:nth-child(14) {
        animation-delay: 0.1s;
      }

      &:nth-child(5),
      &:nth-child(10),
      &:nth-child(15) {
        animation-delay: 0.2s;
      }

      &:nth-child(1),
      &:nth-child(6),
      &:nth-child(11),
      &:nth-child(16) {
        animation-delay: 0.3s;
      }

      &:nth-child(2),
      &:nth-child(7),
      &:nth-child(12) {
        animation-delay: 0.4s;
      }

      &:nth-child(3),
      &:nth-child(8) {
        animation-delay: 0.4s;
      }

      &:nth-child(4) {
        animation-delay: 0.5s;
      }
    }
  }

  .direction2 {
    position: absolute;
    width: 10em;
    height: 10em;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
    display: flex;
    flex-wrap: wrap;

    .square {
      width: 25%;
      height: 25%;
      background: #0288d1;
      transform: scale(0);
      animation: scale0-1 0.5s cubic-bezier(0.7, 0, 0.07, 1) forwards;

      &:nth-child(13) {
        animation-delay: 1.2s;
      }

      &:nth-child(9),
      &:nth-child(14) {
        animation-delay: 1.1s;
      }

      &:nth-child(5),
      &:nth-child(10),
      &:nth-child(15) {
        animation-delay: 1s;
      }

      &:nth-child(1),
      &:nth-child(6),
      &:nth-child(11),
      &:nth-child(16) {
        animation-delay: 0.9s;
      }

      &:nth-child(2),
      &:nth-child(7),
      &:nth-child(12) {
        animation-delay: 0.8s;
      }

      &:nth-child(3),
      &:nth-child(8) {
        animation-delay: 0.7s;
      }

      &:nth-child(4) {
        animation-delay: 0.6s;
      }
    }
  }
}

@keyframes scale0-1 {
  to {
    transform: scale(1);
  }
}
