@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg") 0 / cover fixed;
  font-family: "Lato";
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
    padding: 12px 0;
  }

  .form-field {
    position: relative;
    font-size: 20px;
    border-bottom: 1px solid white;
    margin: 20px 0 8px 0;
    transition: 0.4s;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -1px;
      left: 0;
      background: #3498db;
      transform-origin: center;
      transform: scaleX(0);
      transition: 0.4s ease;
    }

    &:focus-within::after {
      transform: scaleX(1);
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      color: white;
      padding-left: 10px;

      &:focus~label,
      &:valid~label {
        top: 0;
        font-size: 15px;
        color: #3498db;
      }
    }

    label {
      position: absolute;
      left: 32px;
      top: 24px;
      transition: 0.4s;
    }
  }

  .btn {
    position: relative;
    outline: none;
    background: transparent;
    color: white;
    border: 2px solid hsla(204, 70%, 53%, 1);
    width: 100%;
    font-size: 1.2em;
    margin: 36px 0 18px 0;
    padding: 6px 0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(120deg,
          transparent,
          hsla(204, 70%, 53%, 0.5),
          transparent);
      transform: translateX(-100%);
      transition: 0.5s;
    }

    &:hover {
      box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
    }

    &:hover::before {
      transform: translateX(100%);
    }
  }
}